@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url(https://fonts.googleapis.com/css?family=Short+Stack);
@import url(https://fonts.googleapis.com/css?family=Neucha);


@font-face {
    font-family: 'flavorsregular';
    src: url('/assets/flavors-regular-webfont.eot');
    src: url('/assets/flavors-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/flavors-regular-webfont.woff2') format('woff2'),
         url('/assets/flavors-regular-webfont.woff') format('woff'),
         url('/assets/flavors-regular-webfont.ttf') format('truetype'),
         url('/assets/flavors-regular-webfont.svg#flavorsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: '2dumbregular';
    src: url('/assets/2dumb-webfont.eot');
    src: url('/assets/2dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/2dumb-webfont.woff2') format('woff2'),
         url('/assets/2dumb-webfont.woff') format('woff'),
         url('/assets/2dumb-webfont.ttf') format('truetype'),
         url('/assets/2dumb-webfont.svg#2dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: '3dumbregular';
    src: url('/assets/3dumb-webfont.eot');
    src: url('/assets/3dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/3dumb-webfont.woff2') format('woff2'),
         url('/assets/3dumb-webfont.woff') format('woff'),
         url('/assets/3dumb-webfont.ttf') format('truetype'),
         url('/assets/3dumb-webfont.svg#3dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;


}

