.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  opacity:0.85;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;
}


h1, h2, h3, h4, h5, h6 {
  color: #424242;
  margin:0;
  padding:0;
  font-family: 'Raleway', sans-serif;
}

h1 a {
  color: #424242;
}

body {
	background: url('/assets/pan.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
	font-family: 'Raleway', sans-serif;
}

.navbar.navbar-inverse {
  background-color: #2E2E2E;
  opacity:0.97;
	border-radius: 0;
	box-shadow: 0px 1px 3px #2a2a2a;
	font-family: 'Raleway', sans-serif;
}

.navbar-inverse .navbar-brand {
	font-family: 'Raleway', sans-serif;
	font-size:17px;
}


.l-pagination {
  background: #fff;
  opacity:0.85;
  text-align: center;
  cursor: default;
  margin-top:10px;
  margin-bottom:20px;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;  
  box-shadow: 1px 1px 2px 0 #d0d0d0;

}

.l-pagination a, .l-pagination span {
    padding: 0.2em 0.3em; 
}

.l-pagination .disabled {
    color: #aaaaaa; 
}

.l-pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; 
}

.l-pagination a {
    text-decoration: none;
    color: black; 
}

.l-pagination a:hover, .l-pagination a:focus {
      text-decoration: underline; 
}

.field_with_errors {
  color: #ff3333;
  border-radius: 3px;
  padding:8px;
}

#map {
  height: 300px;
}




